$primary-blue: #03BFE9;
$primary-progress: #19BC64;
$primary-done: #252C2F;
$submit-btn-bg-color: #4A4A4A;
$login-link-color: #1B6087;
$text-grey: #868686;
$border-grey: #A2A2A2;
$background-color: #FAFAFA;