.dialog {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: $background-color;
  padding: 2em;
  height: 100vh;
  width: 100%;
  box-sizing: border-box;

  @include respond-to(dialog) { 
    box-shadow: 0px 4px 10px #1B6087;
    border-radius: 50px;
    max-width: $dialog-width;
    padding: 3em;
    height: auto;
  }

  a.logo img {
    width: 50vw;
    margin: 1em 0;

    @include respond-to(dialog) { width: 10em }
  }

  p {
    font-size: 0.9rem;
    color: black;
    margin: 1em 0;
  }

  input {
    box-sizing: border-box;
    width: 100%;
    padding: 1em;
    font-size: 0.9rem;
    font-family: 'Montserrat';
    border: 1px solid $border-grey;
    margin: 0.25em 0;
  }


}