.modal-container {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 5em;
  left: 0;
  width: 100vw;
  height: 100vh;

  @include respond-to(medium-screens) {
    top: 0;
    background-color: rgba(0,0,0,0.2);
  }

  .modal {
    position: relative;
    width: 100%;
    padding: 4em 2em;
    background-color: $background-color-modal;
    box-sizing: border-box;

    @include respond-to(medium-screens) {
      border-radius: 50px;
      max-width: 450px;
      padding: 4em 3.5em;
    }

    h3 {
      padding: 0;
      margin: 0;
      margin-bottom: 0.5em;
    }

    p {
      margin: 0;
      font-size: 0.9rem;
      font-style: italic;
    }

    .close-modal {
      position: absolute;
      top: 25px;
      right: 35px;
    }

    .close-modal:hover {
      cursor: pointer;
    }

    .footnote {
      margin-top: 1.5em;
    }
    
  }
}