<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Sign In</title>
  <link rel="stylesheet" href="../../static/css/main.css">
</head>

<body>
  <div class="wrapper gradient">
    <div class="card">
      <a href="#" class="logo"><img src="../../static/img/logo-black.png" alt="The Tasting Experience"></a>
      <p>Sign in or create an account</p>
      <form action="POST">
        <input type="text" name="email" placeholder="Email Address">
        <input type="password" name="password" placeholder="Password">
        <button type="submit" class="outline-btn">Sign In</button>
      </form>
      <p>or</p>
      <a href="#" class="submit-btn">Create account</a>
    </div>
  </div>
</body>

</html>