{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Sign In</title>
  <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>

<body>
  <div class="wrapper centered gradient">
    <div class="dialog">
      <a href="{% url 'index' %}" class="logo"><img src="{% static 'img/logo-black.png' %}"
          alt="The Tasting Experience"></a>
      <p>Please fill in your information</p>
      <form method="POST">
        {{ registration_errors }}
        {% csrf_token %}
        <input type="text" name="username" placeholder="Username">
        <input type="text" name="email" class="margin-down" placeholder="Email Address">
        <input type="password" name="password1" placeholder="Password">
        <input type="password" name="password2" class="margin-down" placeholder="Repeat password">
        <button type="submit" class="btn">Create account</button>
      </form>
    </div>
  </div>
</body>

</html>