{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{% block page_title %}{% endblock %}</title>

  <!-- Custom css files -->
  <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>

<body>

  <header class="{% if not index %}container{% endif %}">
    <!-- Logo -->
    <a href="{% url 'index' %}" class="logo">
      {% if index %}
      <img src="{% static 'img/logo-black.png' %}" class="black" alt="tasting-experience">
      <img src="{% static 'img/logo-white.png' %}" class="white" alt="tasting-experience">
      {% else %}
      <img src="{% static 'img/logo-black.png' %}" alt="tasting-experience">
      {% endif %}
    </a>

    <!-- Navigation bar -->
    <nav>
      <ul>
        <li><a href="{% url 'about' %}" class="{% if index %}white{% endif %}">About</a></li>
        <li><a href="#" class="{% if index %}white{% endif %}">Dev</a></li>
        {% if user.is_authenticated %}
        <li><a href="{% url 'logout' %}" class="{% if index %}white{% endif %}">Logout</a></li>
        {% else %}
        <li><a href="{% url 'login' %}" class="{% if index %}white{% endif %}">Login</a></li>
        {% endif %}
      </ul>
    </nav>
  </header>


  {% block main_content %}
  {% endblock %}


  <div class="message-container">
    {% if messages %}
    {% for message in messages %}
    <p>{{ message }}</p>
    {% endfor %}
    {% endif %}
  </div>

</body>

</html>