{% extends 'base.html' %}

{% load static %}

{% block page_title %}Dashboard - The Tasting Experience{% endblock %}

{% block main_content %}
<div class="container content dev-panel">

  <!-- Main panel -->
  <main>
    <!-- Header with controls -->
    <div class="controls">
      <button class="active">Finder app</button>
      <button>Recipe community</button>
      <input type="text" placeholder="Bugs, features, user...">
    </div>

    <!-- Ticket list -->
    <div class="list">

      {% for ticket in tickets %}
      <div class="ticket-list-item" onclick="location.href='{% url 'ticket_view' id=ticket.id %}';">
        {% if ticket.ticket_type.name == "bug_report" %}
        <img src="{% static 'img/bug-report-red.svg' %}" alt="bug_report">
        {% else %}
        <img src="{% static 'img/develop-feature2-blue.svg' %}" alt="feature_request">
        {% endif %}
        <p class="title">{{ ticket.title }}</p>
        <p class="subtitle">{{ ticket.ticket_id }} opened at {{ ticket.date_created|date:"M d, Y" }} by
          {{ ticket.user }}</p>
        <div class="icons">
          <div class="icon">
            <span>{{ ticket.nr_comments }}</span>
            <img src="{% static 'img/comment3.svg' %}" alt="comments">
          </div>
          <div class="icon">
            <span>{{ ticket.upvotes }}</span>
            <img src="{% static 'img/up-vote.svg' %}" alt="upvote">
          </div>
          <img src="{% static 'img/eye-filled.svg' %}" alt="add to watchlist">
        </div>
      </div>
      {% endfor %}

      <!-- Extend list -->
      <div class="load-more">
        <div>
          <img src="{% static 'img/arrow-down.svg' %}" alt="load more">
          <span>show more</span>
        </div>
      </div>

    </div>
  </main>

  <!-- Dashboard panel -->
  <section class="dashboard-card">
    <div class="main">
      <div class="profile-card">
        <div class="avatar">
          <img src="{% static 'img/sebastiaan.svg' %}" alt="Sebastiaan Hekner">
          <a href="">Edit profile</a>
        </div>
        <div class="personal">
          <span class="name">Sebastiaan Hekner</span>
          <p>Developer</p>
        </div>
      </div>
      <div class="ruler"></div>
      <button onclick="TE.openModal('new_feature')">New feature request</button>
      <button onclick="TE.openModal('new_bug_report')">New bug report</button>
      <button>Show reporting</button>
    </div>
    <div class="details">
      <div class="summary">
        <p>2 Bugs</p>
        <p>0 Features</p>
        <p>0 Donations</p>
      </div>
      <div class="ruler"></div>
      <div class="tickets-created-list">
        <a href="">
          <div class="created-list-item">
            <span>B-23</span>
            <p>On an Android Galaxy s6 mobile vie...</p>
          </div>
        </a>
        <a href="">
          <div class="created-list-item">
            <span>B-23</span>
            <p>On an Android Galaxy s6 mobile vie...</p>
          </div>
        </a>
      </div>
    </div>
  </section>

  <!-- Watchlist panel -->
  <section class="watchlist-card">
    <a href="">
      <div class="watchlist-item">
        <span>B-23</span>
        <p>On an Android Galaxy s6 mobile vie...</p>
      </div>
    </a>
    <a href="">
      <div class="watchlist-item">
        <span>B-23</span>
        <p>On an Android Galaxy s6 mobile vie...</p>
      </div>
    </a>
  </section>
  <section> </section>

</div>

<div id="new_feature" class="modal-container">
  <div class="modal">
    <img src="{% static 'img/clear.svg' %}" alt="close" class="close-modal" onclick="TE.closeModal('new_feature')">
    <h3>Request a new feature</h3>
    <p>Requesting a new feature requires a donation. The minimum amount for a feature is €150,- but it may be altered.*
    </p>
    <form action="{% url 'post_feature_request' %}" method="POST">
      {% csrf_token %}
      <div class="radio-group">
        <label for="finder_app" class="radio-container">
          Finder App
          <input type="radio" id="finder_app" name="app_type" value="finder_app" checked>
          <span class="checkbox"></span>
        </label>

        <label for="recipe_community" class="radio-container">
          Recipe Community
          <input type="radio" id="recipe_community" name="app_type" value="recipe_community">
          <span class="checkbox"></span>
        </label>
      </div>
      <div class="input-field">
        <input type="text" name="title" placeholder="Title / summary">
        <span class="counter">0/75</span>
      </div>
      <div class="input-area">
        <textarea name="description" cols="30" rows="10" placeholder="Feature description"></textarea>
        <span class="counter">0/75</span>
      </div>
      <button type="submit" class="btn no-stretch">Submit</button>
    </form>
    <p class="footnote">* Depends on the estimated development time.</p>
  </div>
</div>

<div id="new_bug_report" class="modal-container">
  <div class="modal">
    <img src="{% static 'img/clear.svg' %}" alt="close" class="close-modal" onclick="TE.closeModal('new_bug_report')">
    <h3>Report a new bug</h3>
    <p>Reporting a bug is free of charge! Try to be as descriptive as possible.
    </p>
    <form action="{% url 'post_bug_report' %}" method="POST">
      {% csrf_token %}
      <div class="radio-group">
        <label for="finder_app" class="radio-container">
          Finder App
          <input type="radio" id="finder_app" name="app_type" value="finder_app" checked>
          <span class="checkbox"></span>
        </label>

        <label for="recipe_community" class="radio-container">
          Recipe Community
          <input type="radio" id="recipe_community" name="app_type" value="recipe_community">
          <span class="checkbox"></span>
        </label>
      </div>
      <div class="input-field">
        <input type="text" name="title" placeholder="Title / summary">
        <span class="counter">0/75</span>
      </div>
      <div class="input-area">
        <textarea name="description" cols="30" rows="10" placeholder="Bug description"></textarea>
        <span class="counter">0/75</span>
      </div>
      <button type="submit" class="btn no-stretch">Submit</button>
    </form>
  </div>
</div>

{% endblock %}